<div class="row">
    <div class="col-md-6">
        <form [formGroup]="customerForm">
            <div class="mb-3" *ngIf="isNewCustomer">
                <label for="name" class="form-label">Név</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="mb-3" *ngIf="isNewCustomer">
                <label for="address" class="form-label">Cím</label>
                <input type="text" class="form-control" id="address" formControlName="address">
            </div>
            <div class="mb-3" *ngIf="isNewCustomer">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
        </form>
        <form [formGroup]="purchaseForm">
            <div class="mb-3">
                <label for="computer" class="form-label">Számítógép</label>
                <select class="form-select" id="computer" formControlName="computer">
                    @for(computer of computers; track $index){
                    <option [ngValue]="{id: computer.id}">{{computer.name}}</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="deliverytype" class="form-label">Szállítás módja</label>
                <select class="form-select" id="deliverytype" formControlName="deliverytype">
                    <option store>Helybeni átvétel</option>
                    <option gls>GLS</option>
                </select>
            </div>
        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="savePurchase()">Vásárlás</button>
        </div>
    </div>
</div>
